.body {
    flex: 0.85;
    background-color: rgb(91, 87, 115);
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
    height: 100vh;
    color: white;
    padding: 30px;
    overflow-y: overlay;
}

.body_info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body_info_text {
    flex: 1;
}

.body_icons {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.body_icons .MuiSvgIcon-root {
    margin-right: 20px;
}

.body_shuffle {
    font-size: 5rem !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body_shuffle:hover{
    transition: 100ms transoform ease-in;
    transform: scale(1.08);
}

.body_info img {
    height: 20vw;
    margin: 0px 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, .5)
}

.body_info_text h2 {
    font-size: 5rem;
    margin-bottom: 15px;
}

.body_info_text p {
    font-size: 1rem;
}

.body_songs {
    margin: 20px -30px;
}