.footer {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: #282828;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;
    padding: 20px;
    margin-left: 10px;
}

.footer_center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer_album_art {
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.footer_right {
    flex: 0.3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin-right: 0px;
    padding: 0 100px;
    min-width: 100px;
}

.footer_green {
    color: green;
}

.footer_song h4 {
    margin-bottom: 12px;
}

footer_song p {
    margin-bottom: 5px;
}

.footer_right * .MuiSlider-root {
    color: green;
}

.footer_icon:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}